{% extends "base.html" %}

{% block content %}
  <h1>
    Car list
    <a href="{% url 'taxi:car-create' %}"
       class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form method="get"
        action="{% url 'taxi:car-list' %}"
        class="form-inline mb-3">
    <input
      type="search"
      name="q"
      value="{{ search_query }}"
      placeholder="Search by model"
      aria-label="Search by model"
      class="form-control mr-2"
    >

    <button type="submit" class="btn btn-primary mr-2">
      Search
    </button>

    <a href="{% url 'taxi:car-list' %}"
       class="btn btn-secondary">
      Reset
    </a>
  </form>

  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url 'taxi:car-detail' pk=car.id %}">
            {{ car.id }}
          </a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {% if search_query %}
      <p>No cars found for "{{ search_query }}".</p>
    {% else %}
      <p>There are no cars in taxi.</p>
    {% endif %}
  {% endif %}
{% endblock %}